/*=Typography=*/
html {
    font-size: 16px;
    overflow-x: hidden;
  }
  
  body {
    font-family: playfair-display, serif;
    font-weight: 300;
  }
  
  .navbar a {
    text-align: center;
  }
  .navbar .navbar-brand {
    font-size: 30px;
    color: #000;
  }
  
  .navbar {
    font-size: 20px;
    color: #000;
    background-image: url('background.jpg');
  }
  
  .sec-contact .btn {
    text-transform: uppercase;
  }
  
  .soc-media-ul a {
    text-align: center;
    text-decoration: none;
  }

  img {
    max-width: 30%;
    height: auto;
}

  /*=Base=*/
  
  section {
    width: 100%;
    padding: 5em;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
    margin-bottom: -100px;
  }
  
  footer {
    padding: 2em 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  /*Header*/
  .navbar-default {
    border: none;
    padding-top: 1em;
    
  }
  
  .navbar .fa-external-link {
    vertical-align: top;
  }
  
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #DCD0FF;
    font-weight: 450;
  }
  
  .navbar-default .navbar-nav > li > a:active {
    color: #DCD0FF;
    font-weight: 450;
  }
  

  .mainName{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    text-align: center;
    min-height: 100vh;
  }
  
  /*Footer*/
  .main-footer{
    display: flex;
    justify-content: center;
  }
  
  footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url('background.jpg');
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
    width: 100%;
    padding: 10px;
    margin-top: auto;
  }
  
  .main-footer > .footer-content {
      position: relative;
  }
  
  .fa-brands, .fa-solid {
    color: #000;
  }
  
  .fa-brands:hover, .fa-solid:hover {
    color: #DCD0FF;
  }
  
  
  .soc-media-ul li {
    display: inline-block;
    margin: 20px;
    margin-top: 50px;
  }
  
  .soc-media-ul {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .soc-media-ul a {
    display: inline-block, flex;
    padding: 6px 9px 9px;
    font-size: 25px;
    color: #000;
  }
  .soc-media-ul a:hover, .soc-media-ul a:focus {
    color: #DCD0FF;
  }
  
  @media (max-width: 600px) {
  .soc-media-ul a { 
    display: inline-block, flex;
    justify-content: center;
    }
  }
  
  