/*=Typography=*/
html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: playfair-display, serif;
  font-weight: 300;
  background: url(background.jpg)
  no-repeat center fixed;
background-size: cover;
}

.navbar a {
  text-align: center;
}
.navbar .navbar-brand {
  font-size: 20px;
  color: #000;
}

.navbar {
  font-size: 20px;
  color: #000;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}
  /* landing section */
  .landing {
    height: 100vh;
    width: 100vw;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.landing p {
    font-size: 18px;
    margin-bottom: 30px;
}

.landing .btn {
    font-size: 18px;
    padding: 15px 30px;
    background-color: #adabd5;
    color: #000;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.landing .btn:hover {
    background-color: #c4def7;
}

/*=Base=*/

section {
  width: 100%;
  padding: 5em;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #ffffff;
  height: 100vh;
  margin-bottom: -100px;
}

footer {
  padding: 2em 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*Header*/
.navbar-default {
  background-color: rgb(255, 255, 255);
  border: none;
  padding-top: 1em;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #DCD0FF;
  font-weight: 450;
}

.navbar-default .navbar-nav > li > a:active {
  color: #DCD0FF;
  font-weight: 450;
}
/*Landing*/
.mainName{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  text-align: center;
  min-height: 100vh;
  background-image: url('background.jpg');
}

/*Portfolio*/
.portfolio__project .row {
  margin-bottom: 3em;
}

.portfolio__project-wrapper {
padding: 20px;
margin-left: 65px;
margin-right: 40px;
}

.portfolio__project {
	position: relative;
	height: auto;
	padding: 0;
	overflow: hidden;
}
.portfolio__project__preview {
	position: relative;
	top: 0;
	height: auto;
}

.portfolio__project__preview > img {
	max-width: 100%;
	height: auto;
  padding-block: 2em;
  padding-right: 2em;
}

.portfolio__project__description {
	position: absolute;
	top: 100%;
	width: 100%;
	padding: 1.8em 1.3em;
	background: #fff;
  
}

.portfolio__project__name {
  font-family: playfair-display, serif;
	font-size: 1.8em;
  font-weight: 500;
	margin: 0;
	margin-bottom: .2em;
  color: #000000;
}


.portfolio__project__preview,
.portfolio__project__description {
	transition: all 600ms ease;
}

.portfolio__project:hover .portfolio__project__description {
	transform: translateY(-100%);
}
.portfolio__project:hover .portfolio__project__preview {
	transform: translateY(-2.5em);
}

@media only screen and (max-width: 768px) {
  *, html, body, .row {
     margin-left:5px !important;
     margin-right:5px !important;
     padding-left:3px !important;
     padding-right:5px !important;
  }
}
/* Popup Styles */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*About*/

.about-me .content h3 {
  font-family: playfair-display, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 20px;
  color: #000;
}

.about-me img{
 max-width: 100%;
 border-radius: 3px;
 border-color: #000;
 border-width: 2px;
 border-style: solid;
}
.blur-shadow {
box-shadow: 0px 0px 32px #222;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

.about .container {
  background: #dddede;
  padding: 30px;
  font-family: playfair-display, serif;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 80px;
}

p {
  font-family: playfair-display, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;  
  line-height: 30px;
}


/*Contact*/

form .center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.sec-contact {
  position: relative;
  margin-top: 30px;
  margin-bottom: -100px;
}
.sec-contact p {
  text-align: center;
  padding-bottom: 30px;
  font-size: 23px;
  margin-top: 0px;
}

.sec-contact .form-control:focus {
  border-color: #DCD0FF;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px #DCD0FF;
}

.sec-contact .btn {
  padding: 0.5rem 1.75rem;
  background: #000;
  font-size: 0.95rem;
  color: #fff;
}
.sec-contact .btn:hover, .sec-contact .btn:focus {
  background: #DCD0FF;
  border-color: #b9abe1;
}
.sec-contact .btn, a {
  transition: all 0.25s;
}

/*Footer*/
.main-footer{
  display: flex;
  justify-content: center;
}

footer{
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-footer > .footer-content {
    position: relative;
}

.fa-brands, .fa-solid {
  color: #000;
}

.fa-brands:hover, .fa-solid:hover {
  color: #DCD0FF;
}


.soc-media-ul li {
  display: inline-block;
  margin: 20px;
  margin-top: 50px;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
  text-align: center;
}

.soc-media-ul a {
  display: inline-block, flex;
  padding: 6px 9px 9px;
  font-size: 25px;
  color: #000;
}
.soc-media-ul a:hover, .soc-media-ul a:focus {
  color: #DCD0FF;
}

@media (max-width: 600px) {
.soc-media-ul a { 
  display: inline-block, flex;
  justify-content: center;
  }
}

