/*=Typography=*/
html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "orpheuspro", sans-serif;
  font-weight: 300;
}

.navbar a {
  text-align: center;
}
.navbar .navbar-brand {
  font-size: 36px;
  color: #000;
}

.navbar {
  font-size: 20px;
  color: #000;
}

.sec-contact .btn {
  text-transform: uppercase;
}

.soc-media-ul a {
  text-align: center;
  text-decoration: none;
}

/*=Base=*/
section {
  width: 100%;
  padding: 5em;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #ffffff;
  height: 100vh;
}

footer {
  padding: 2em 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*Header*/
.navbar-default {
  background-color: rgb(255, 255, 255);
  border: none;
  padding-top: 1em;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #DCD0FF;
  font-weight: 450;
}

.navbar-default .navbar-nav > li > a:active {
  color: #DCD0FF;
  font-weight: 450;
}

/*Main*/
.sec-main {
  position: relative;
  height: 560px;
}
.sec-main:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/*Portfolio*/
.portfolio__project .row {
  margin-bottom: 3em;
}

.portfolio__project-wrapper {
padding: 20px;
margin-left: 5px;
}

.portfolio__project {
	position: relative;
	height: auto;
	padding: 0;
	overflow: hidden;
}
.portfolio__project__preview {
	position: relative;
	top: 0;
	height: auto;
}

.portfolio__project__preview > img {
	max-width: 100%;
	height: auto;
  padding-block: 2em;
  padding-right: 2em;
}

.portfolio__project__description {
	position: absolute;
	top: 100%;
	width: 100%;
	padding: 1.8em 1.3em;
	background: #fff;
  
}

.portfolio__project__name {
	font-family: 'orpheuspro', sans-serif;
	font-size: 1.8em;
  font-weight: 500;
	margin: 0;
	margin-bottom: .2em;
  color: #000000;
}


.portfolio__project__preview,
.portfolio__project__description {
	transition: all 600ms ease;
}

.portfolio__project:hover .portfolio__project__description {
	transform: translateY(-100%);
}
.portfolio__project:hover .portfolio__project__preview {
	transform: translateY(-2.5em);
}

/*About*/

.responsive {
  max-width: 60%;
  height: auto;
}

#about {
  padding:8rem 0rem 8rem 4rem;
  display:flex;
  align-items:center;
  overflow:hidden;
}
.intro-content {
  padding: 6rem 0rem 6rem 0rem;
  overflow:hidden;
  margin:auto;
}
#intro-img {
  margin:auto;
  width: 60%;
}
#intro-photo {
  border: 2px black solid;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #b9abe1;
}

#intro-text {
  overflow:hidden;
  margin-top:auto;
  margin-bottom:auto;
}
#intro-text h1 {
  color:black;
  font-size: 23px;
  line-height: 40px;
}

/*Contact*/

form .center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.sec-contact {
  position: relative;
}
.sec-contact p {
  text-align: center;
  padding-bottom: 5%;
  font-size: 23px;
  margin-top: 5em;
}

.sec-contact .form-control:focus {
  border-color: #DCD0FF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #DCD0FF;
}

.sec-contact .btn {
  padding: 0.5rem 1.75rem;
  background: #000;
  font-size: 0.95rem;
  color: #fff;
}
.sec-contact .btn:hover, .sec-contact .btn:focus {
  background: #DCD0FF;
  border-color: #b9abe1;
}
.sec-contact .btn, a {
  transition: all 0.25s;
}

/*Footer*/
footer {
  background: #fff;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em 0.65rem;
  font-size: 1rem;
  color: #000;
  border-radius: 50%;
  border: 2px solid;
}
.soc-media-ul a:hover, .soc-media-ul a:focus {
  color: #DCD0FF;
}
